* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  outline: none;
  font-family: robotoregular;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

blockquote {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

header,
section,
article,
aside,
nav,
footer,
address {
  display: block;
}

html {
  overflow-x: hidden;
}

body {
  font-family: robotoregular, "open_sansregular", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 44px;
  font-family: "robotobold";
  color: #363636;
}

h2 {
  font-size: 39px;
  font-family: "robotobold";
  color: #363636;
}

h3 {
  font-size: 39px;
  font-family: "robotobold";
  color: #363636;
}

h4 {
  font-size: 26px;
  font-family: "robotobold";
  color: #363636;
}

h5 {
  font-size: 22px;
  font-family: "robotoregular";
  color: #363636;
}

h6 {
  font-size: 19px;
  font-family: "robotoregular";
  color: #363636;
}

p {
  font-size: 20px;
  font-family: "robotoregular";
  color: #363636;
  line-height: 2em;
}

a {
  color: #363636;
  font-family: "robotoregular";
  font-size: 22px;
}

a.button {
  color: #fff;
  background-color: #3f3d56;
  padding: 15px 35px;
  border-radius: 40px;
  font-weight: 500;
  display: inline-block;
  font-family: "robotoregular";
  font-size: 18px;
}

.thumb {
  display: block;
}

.thumb img {
  display: block;
  width: 100%;
}

a:hover,
[type=submit]:hover {
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

@font-face {
  font-family: "robotoregular";
  src: url("../assets/fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("../assets/fonts/roboto/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotomedium";
  src: url("../assets/fonts/roboto/roboto-bold-webfont.woff2") format("woff2"), url("../assets/fonts/roboto/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../fonts/roboto/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#main {
  position: relative;
}
#main img.background {
  position: absolute;
  top: -390px;
  right: -391px;
  width: 80%;
  z-index: -2;
}
#main header section.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}
#main header h1.left {
  width: 6%;
}
#main header h1.left a {
  display: block;
}
#main header h1.left a img {
  display: block;
  width: 100%;
}
#main header nav.right {
  width: 35%;
}
#main header nav.right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main header nav.right ul li {
  margin-right: 40px;
}
#main header nav.right ul li:last-child {
  margin-right: 0;
}
#main header nav.right ul li a {
  display: inline-block;
  font-size: 18px;
}
#main section.spotlight div.content {
  width: 30%;
}
#main section.spotlight div.content h1 {
  margin-top: 30px;
  margin-bottom: 50px;
}
#main section.spotlight div.content p {
  margin-bottom: 50px;
  font-size: 20px;
}
#main section.spotlight div.content a.button {
  margin-bottom: 70px;
}
#main section.spotlight div.content ul {
  display: flex;
  align-items: center;
}
#main section.spotlight div.content ul li {
  margin-right: 40px;
}
#main section.spotlight div.content ul li:last-child {
  margin-right: 0;
}
#main section.spotlight div.content ul li a {
  display: block;
}
#main section.spotlight div.content ul li a img {
  width: 100%;
  display: block;
}

#skills {
  margin: 160px 0 150px;
}
#skills div.top h2 {
  text-align: center;
  margin-bottom: 100px;
  font-size: 40px;
}
#skills div.bottom div.items1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
#skills div.bottom div.left {
  width: 43%;
}
#skills div.bottom div.left img {
  display: block;
  width: 100%;
}
#skills div.bottom div.right {
  width: 45%;
}
#skills div.bottom div.right h4 {
  margin-bottom: 30px;
}
#skills div.bottom div.right p {
  font-size: 18px;
}
#skills div.bottom div.items2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  flex-direction: row-reverse;
}
#skills div.bottom div.items2 div.left {
  width: 40%;
}
#skills div.bottom div.items2 div.right {
  width: 45%;
}
#skills div.bottom div.items3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#works {
  position: relative;
}
#works div.top h2 {
  text-align: center;
  margin-bottom: 150px;
}
#works div.middle ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#works div.middle ul li {
  width: 47%;
  margin-bottom: 70px;
}
#works div.middle ul li:nth-child(2) {
  margin-top: -70px;
  margin-bottom: 0;
}
#works div.middle ul li:nth-child(3) {
  margin-bottom: 0;
}
#works div.middle ul li :nth-child(4) {
  margin-bottom: 0;
  margin-top: -70px;
}
#works div.middle ul li img {
  display: block;
  width: 100%;
  border-radius: 20px;
}
#works div.bottom {
  text-align: center;
  margin-bottom: 100px;
}
#works div.bottom a.button {
  border-radius: 20px;
}

#project {
  margin-top: 250px;
  position: relative;
  padding-bottom: 150px;
}
#project div.content {
  width: 40%;
}
#project div.content h2 {
  margin-bottom: 50px;
}
#project div.content a.button {
  margin-bottom: 100px;
  border-radius: 20px;
}
#project div.content ul {
  display: flex;
  align-items: center;
}
#project div.content ul li {
  margin-right: 40px;
}
#project div.content ul li:last-child {
  margin-right: 0;
}
#project div.content ul li a {
  display: block;
}
#project div.content ul li a img {
  display: block;
  width: 100%;
}
#project img.background {
  position: absolute;
  top: -651px;
  right: -490px;
  width: 80%;
}

@media all and (max-width: 1180px) {
  #main {
    position: relative;
  }
  #main img.background {
    margin-top: 80px;
    position: absolute;
    top: -400px;
    right: -339px;
    width: 90%;
    align-items: center;
  }
  #main header .wrapper h1.left a img {
    margin-left: -6px;
  }
  #main header .wrapper nav.right {
    margin-left: 10px;
  }
  #main header .wrapper nav.right ul {
    margin-left: -175px;
  }
  #main header .wrapper nav.right ul li {
    margin-right: 20px;
  }
  #main header .wrapper nav.right ul li a.button {
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }
  #main section.spotlight .wrapper .content {
    margin-top: 80px;
  }
  #main section.spotlight .wrapper .content p {
    width: 200px;
  }
  #main section.spotlight .wrapper .content a.button {
    width: 100px;
    margin-left: 70px;
    margin-right: 70px;
  }
  #main section.spotlight .wrapper .content ul {
    margin-left: 40px;
  }
  #main section.spotlight .wrapper .content ul li:first-child {
    margin-left: -20px;
  }
  #main section.spotlight .wrapper .content ul li:last-child {
    margin-left: 25px;
  }
  #main section.spotlight .wrapper .content ul li:nth-child(2) {
    margin-left: 25px;
  }
  #main section.spotlight .wrapper .content ul li a {
    margin-left: 20px;
  }
  #main section.spotlight .wrapper .content ul li a img {
    padding: 10px;
  }
  #main section#project {
    position: relative;
  }
  #main section#project img.background {
    position: absolute;
    top: -560px;
    right: -420px;
    width: 90%;
  }
  #main section#project .wrapper {
    margin-top: -50px;
  }
  #main section#project .wrapper .content {
    margin-top: -50px;
    width: 100%;
  }
  #main section#project .wrapper .content h2 {
    width: 90px;
    margin-top: -20px;
    margin-right: 20px;
  }
  #main section#project .wrapper .content a.button {
    margin-left: 50px;
    margin-right: 50px;
  }
  #main section#project .wrapper .content ul {
    margin-left: 40px;
  }
  #main section#project .wrapper .content ul li:first-child {
    margin-left: -20px;
  }
  #main section#project .wrapper .content ul li:last-child {
    margin-left: 25px;
  }
  #main section#project .wrapper .content ul li:nth-child(2) {
    margin-left: 25px;
  }
  #main section#project .wrapper .content ul li a {
    margin-left: 20px;
  }
}
@media all and (max-width: 980px) {
  #main {
    position: relative;
  }
  #main img.background {
    margin-top: 80px;
    position: absolute;
    top: -340px;
    right: -319px;
    width: 100%;
    align-items: center;
  }
  #main header .wrapper h1.left a img {
    margin-left: -6px;
  }
  #main header .wrapper nav.right {
    margin-left: 10px;
  }
  #main header .wrapper nav.right ul {
    margin-left: -175px;
  }
  #main header .wrapper nav.right ul li {
    margin-right: 20px;
  }
  #main header .wrapper nav.right ul li a.button {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }
  #main section.spotlight .wrapper .content {
    margin-top: 80px;
  }
  #main section.spotlight .wrapper .content p {
    width: 200px;
  }
  #main section.spotlight .wrapper .content a.button {
    width: 100px;
    margin-left: 70px;
    margin-right: 70px;
  }
  #main section.spotlight .wrapper .content ul {
    margin-left: 40px;
  }
  #main section.spotlight .wrapper .content ul li:first-child {
    margin-left: -20px;
  }
  #main section.spotlight .wrapper .content ul li:last-child {
    margin-left: 25px;
  }
  #main section.spotlight .wrapper .content ul li:nth-child(2) {
    margin-left: 25px;
  }
  #main section.spotlight .wrapper .content ul li a {
    margin-left: 20px;
  }
  #main section.spotlight .wrapper .content ul li a img {
    padding: 10px;
  }
  #main section#project {
    position: relative;
  }
  #main section#project img.background {
    position: absolute;
    top: -490px;
    right: -350px;
    width: 90%;
  }
  #main section#project .wrapper {
    margin-top: -50px;
  }
  #main section#project .wrapper .content {
    margin-top: -50px;
    width: 100%;
  }
  #main section#project .wrapper .content h2 {
    width: 90px;
    margin-top: -20px;
    margin-right: 20px;
  }
  #main section#project .wrapper .content a.button {
    margin-left: 50px;
    margin-right: 50px;
  }
  #main section#project .wrapper .content ul {
    margin-left: 40px;
  }
  #main section#project .wrapper .content ul li:first-child {
    margin-left: -20px;
  }
  #main section#project .wrapper .content ul li:last-child {
    margin-left: 25px;
  }
  #main section#project .wrapper .content ul li:nth-child(2) {
    margin-left: 25px;
  }
  #main section#project .wrapper .content ul li a {
    margin-left: 20px;
  }
}
@media all and (max-width: 780px) {
  #main {
    position: relative;
  }
  #main img.background {
    margin-top: 80px;
    position: absolute;
    top: -260px;
    right: -252px;
    width: 100%;
    align-items: center;
  }
  #main header .wrapper h1.left a img {
    margin-left: -6px;
  }
  #main header .wrapper nav.right {
    margin-left: 10px;
  }
  #main header .wrapper nav.right ul {
    margin-left: -175px;
  }
  #main header .wrapper nav.right ul li {
    margin-right: 20px;
  }
  #main header .wrapper nav.right ul li a.button {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }
  #main section.spotlight .wrapper .content {
    margin-top: 80px;
  }
  #main section.spotlight .wrapper .content p {
    width: 200px;
  }
  #main section.spotlight .wrapper .content a.button {
    width: 100px;
    margin-left: 70px;
    margin-right: 70px;
  }
  #main section.spotlight .wrapper .content ul {
    margin-left: 40px;
  }
  #main section.spotlight .wrapper .content ul li:first-child {
    margin-left: -20px;
  }
  #main section.spotlight .wrapper .content ul li:last-child {
    margin-left: 25px;
  }
  #main section.spotlight .wrapper .content ul li:nth-child(2) {
    margin-left: 25px;
  }
  #main section.spotlight .wrapper .content ul li a {
    margin-left: 20px;
  }
  #main section.spotlight .wrapper .content ul li a img {
    padding: 10px;
  }
  #main section#project {
    position: relative;
  }
  #main section#project img.background {
    position: absolute;
    top: -420px;
    right: -290px;
    width: 90%;
  }
  #main section#project .wrapper {
    margin-top: -50px;
  }
  #main section#project .wrapper .content {
    margin-top: -50px;
    width: 100%;
  }
  #main section#project .wrapper .content h2 {
    width: 150px;
    margin-top: -20px;
  }
  #main section#project .wrapper .content a.button {
    margin-left: 50px;
    margin-right: 50px;
  }
  #main section#project .wrapper .content ul {
    margin-left: 40px;
  }
  #main section#project .wrapper .content ul li:first-child {
    margin-left: -20px;
  }
  #main section#project .wrapper .content ul li:last-child {
    margin-left: 25px;
  }
  #main section#project .wrapper .content ul li:nth-child(2) {
    margin-left: 25px;
  }
  #main section#project .wrapper .content ul li a {
    margin-left: 20px;
  }
}
@media all and (max-width: 580px) {
  #main {
    position: relative;
  }
  #main img.background {
    margin-top: 80px;
    position: absolute;
    top: -160px;
    right: -192px;
    width: 100%;
    align-items: center;
  }
  #main header .wrapper h1.left a img {
    margin-left: -6px;
  }
  #main header .wrapper nav.right {
    margin-left: 10px;
  }
  #main header .wrapper nav.right ul {
    margin-left: -175px;
  }
  #main header .wrapper nav.right ul li {
    margin-right: 20px;
  }
  #main header .wrapper nav.right ul li a.button {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }
  #main section.spotlight .wrapper .content {
    margin-top: 80px;
  }
  #main section.spotlight .wrapper .content p {
    width: 200px;
  }
  #main section.spotlight .wrapper .content a.button {
    width: 100px;
    margin-left: 70px;
    margin-right: 70px;
  }
  #main section.spotlight .wrapper .content ul {
    margin-left: 40px;
  }
  #main section.spotlight .wrapper .content ul li:first-child {
    margin-left: -20px;
  }
  #main section.spotlight .wrapper .content ul li:last-child {
    margin-left: 25px;
  }
  #main section.spotlight .wrapper .content ul li:nth-child(2) {
    margin-left: 25px;
  }
  #main section.spotlight .wrapper .content ul li a {
    margin-left: 20px;
  }
  #main section.spotlight .wrapper .content ul li a img {
    padding: 10px;
  }
  #main section#project {
    position: relative;
  }
  #main section#project img.background {
    position: absolute;
    top: -380px;
    right: -190px;
    width: 90%;
  }
  #main section#project .wrapper {
    margin-top: -50px;
  }
  #main section#project .wrapper .content {
    margin-top: -50px;
    width: 100%;
  }
  #main section#project .wrapper .content h2 {
    width: 150px;
    margin-top: -20px;
  }
  #main section#project .wrapper .content a.button {
    margin-left: 50px;
    margin-right: 50px;
  }
  #main section#project .wrapper .content ul {
    margin-left: 40px;
  }
  #main section#project .wrapper .content ul li:first-child {
    margin-left: -20px;
  }
  #main section#project .wrapper .content ul li:last-child {
    margin-left: 25px;
  }
  #main section#project .wrapper .content ul li:nth-child(2) {
    margin-left: 25px;
  }
  #main section#project .wrapper .content ul li a {
    margin-left: 20px;
  }
}
@media all and (max-width: 380px) {
  #main {
    position: relative;
  }
  #main img.background {
    margin-top: 80px;
    position: absolute;
    top: -100px;
    right: -102px;
    width: 90%;
    align-items: center;
  }
  #main header .wrapper h1.left a img {
    margin-left: -6px;
  }
  #main header .wrapper nav.right {
    margin-left: 10px;
  }
  #main header .wrapper nav.right ul {
    margin-left: -175px;
  }
  #main header .wrapper nav.right ul li {
    margin-right: 20px;
  }
  #main header .wrapper nav.right ul li a.button {
    padding: 5px;
  }
  #main section.spotlight .wrapper .content {
    margin-top: 80px;
  }
  #main section.spotlight .wrapper .content p {
    width: 310px;
  }
  #main section.spotlight .wrapper .content a.button {
    width: 100px;
    margin-left: 70px;
    margin-right: 70px;
  }
  #main section.spotlight .wrapper .content ul {
    margin-left: 40px;
  }
  #main section.spotlight .wrapper .content ul li:first-child {
    margin-left: -20px;
  }
  #main section.spotlight .wrapper .content ul li:last-child {
    margin-left: 25px;
  }
  #main section.spotlight .wrapper .content ul li:nth-child(2) {
    margin-left: 25px;
  }
  #main section.spotlight .wrapper .content ul li a {
    margin-left: 20px;
  }
  #main section.spotlight .wrapper .content ul li a img {
    padding: 10px;
  }
  #main section#project {
    position: relative;
  }
  #main section#project img.background {
    position: absolute;
    top: -380px;
    right: -130px;
  }
  #main section#project .wrapper {
    margin-top: -50px;
  }
  #main section#project .wrapper .content {
    margin-top: -50px;
    width: 100%;
  }
  #main section#project .wrapper .content h2 {
    width: 150px;
    margin-top: -20px;
  }
  #main section#project .wrapper .content a.button {
    margin-left: 50px;
    margin-right: 50px;
  }
  #main section#project .wrapper .content ul {
    margin-left: 40px;
  }
  #main section#project .wrapper .content ul li:first-child {
    margin-left: -20px;
  }
  #main section#project .wrapper .content ul li:last-child {
    margin-left: 25px;
  }
  #main section#project .wrapper .content ul li:nth-child(2) {
    margin-left: 25px;
  }
  #main section#project .wrapper .content ul li a {
    margin-left: 20px;
  }
}/*# sourceMappingURL=style.css.map */